<div class="sign-in-container">

  <%= link_to sign_in_with_google_path do %>
    <div class="btn-google"></div>
  <% end %>

  <%= link_to sign_in_with_facebook_path do %>
    <div class="btn-facebook"></div>
  <% end %>
  <div class="or-container">
      <span class="or">
        OR
      </span>
  </div>
  <br />


  <%= form_for @user do |f| %>

      <div class="form-object">
        <%= f.label :first_name %>
        <br />
        <%= f.text_field :first_name %>
      </div>
      <div class="form-object">
        <%= f.label :last_name %>
        <br />
        <%= f.text_field :last_name %>
      </div>
      <div class="form-object">
        <%= f.label :email %>
        <br />
        <%= f.email_field :email %>
      </div>
      <div class="form-object">
        <%= f.label :password %>
        <br />
        <%= f.password_field :password %>
      </div>
      <div class="form-object">
        <%= f.label :password_confirmation %>
        <br />
        <%= f.password_field :password_confirmation %>
      </div>
      <%= f.submit "Sign Up" %>

  <% end %>

</div>
