

<div class='post-show-wrapper'>

  <%= form_for @post do |f| %>

  <div class="form-object">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class='form-object'>

    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label :category %>
    <br />
    <%= f.collection_select :category_id, Category.all, :id, :title %>
  </div>

  <div class="form-object">
    <label>Tags: </label> <br /><%= f.collection_select(
    :tag_ids, Tag.all, :id, :name, {},
    {multiple: true, class: 'chosen-select'}
    ) %>
  </div>
  <%= f.submit %>


  <% end %>
</div>

<script>
  $('.chosen-select').chosen({width: '300px'})
  $('#post_body').css('width', '100%')
  $('#post_body').css('height', '220px')

</script>
