<h1>Create a Post</h1>

<%= form_for @post do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />

  <%= f.label :body %>
  <%= f.text_area :body %>
  <br />

  <div>
    <%= f.label :category %>
    <br />
    <%= f.collection_select :category_id, Category.all, :id, :title %>
  </div>

  <%= f.submit %>

<% end %>
