
<div class="post-show-wrapper">

  <%= form_for @post do |f| %>

  <% if !@post.persisted? && current_user.signed_in_with_facebook? %>
  <div>
    <%= f.check_box :facebook_post_this %>
    <%= f.label :facebook_post_this %>
  </div>
  <% end %>

  <div class='form-object'>
    <%= f.label :title %>
    <%= f.text_field :title %>

  </div>

  <div class="form-object">

    <%= f.label :body %> <br />
    <%= f.text_area :body %>
  </div>

  <div class="form-object">
    <%= f.label :category %>
    <br />
    <%= f.collection_select :category_id, Category.all, :id, :title %>
  </div>


  <div class='form-object'>
    <label>Tags:</label> <br /> <%= f.collection_select(
    :tag_ids, Tag.all, :id, :name, {},
    {multiple: true, class: 'chosen-select'}
    ) %>
  </div>

  <%= f.submit %>

  <% end %>
</div>

<script>
  $('.chosen-select').chosen({width: '100%'})
  $('#post_body').css('width', '100%')
  $('#post_body').css('height', '220px')

</script>
