<div class='post-show-wrapper'>

  <div class='post-header'>

    <div class='post-header-left'>
        <h2 class="post-title"><%= @post.title %></h2>




      <section  class="tag-widget">
        <!-- <span class="tag-label">Tags:</span> -->

          <% for i in 0...@post.tags.length do %>
          <span class='tag-show'>  <%= @post.tags[i].name %> </span>
          <% end %>

      </section>
    </div>

    <div class='post-header-right'>

      <div class="column">
        <div class="column-header">

          <div class='owner-button-wrapper'>

            <div id="favourite">
              <%= render('favourites/favourite', post: @post, favourite: @favourite) %>
            </div>



            <%= link_to edit_post_path(@post), class: 'icon-link' do %>
            <%= fa_icon "edit" %>
            <% end %>

            <%= link_to  post_path(@post),
            method: :delete,
            data: {confirm: 'Are you sure?'}, class: 'icon-link' do %>
            <%= fa_icon "trash" %>
            <% end %>
          </div>
        </div>


        <div class="post-show-info">
          Created by: <%= @post.user_full_name%> <br />
          Category: <%= @category.title %>
        </div>
      </div>
    </div>
  </div>








  <p class="post-body">
    <%= @post.body %>
  </p>


  <div id="comments">
    <% @post.comments.each do |comm| %>
      <%= render('comments/comment', comm: comm) %>
    <% end %>
  </div>




  <%= form_for [@post,@comment], remote: true do |f| %>

  <div class="comment-submit">
    <%= f.text_area :body %>
    <%= f.submit %>
  </div>


  <% end %>


</div>

<script>

$('textarea').css('width', '100%')
$('textarea').css('height', '50px')

</script>
