<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <navbar class="navbar">

      <div class="top-bar">
        <div class="site-info">
          <h1>Programming Blog</h1>
          <!-- <p>A Ruby on Rails project by: Chris Dimoff</p> -->
        </div>
      </div>


     <div class="link-bar">
       <!-- <div class="white square"></div> -->

       <!-- <div class='text'> -->
       <div class='outer-flex'>

         <div class='inner-flex'>


        <%= link_to home_path do %>
        <div class="btn-nav"><span class='nav-text'>Home</span>  </div>
          <% end %>

         <%= link_to about_path do %>
         <div class="btn-nav"> <span class='nav-text'>About</span> </div>
           <% end %>

         <%= link_to posts_path do %>
         <div class="btn-nav"> <span class='nav-text'>All Posts</span> </div>
           <% end %>

          </div>

         <!-- <div class='pull-right'> -->
         <div class="inner-flex">



           <% if session[:user_id].present? %>


              <%= link_to  edit_users_path do %>
              <div class="btn-nav nav-large"><span class='nav-text'> Hello <%= current_user.first_name %></span> </div>
                <% end %>


              <%= link_to sessions_path, method: :delete do %>
              <div class="btn-nav"> <span class='nav-text'>Sign Out </span></div>
              <% end %>


              <%= link_to  users_path do %>
              <div class="btn-nav"> <span class='nav-text'>Favourites</span> </div>
                <% end %>


              <%= link_to new_post_path do %>
              <div class="btn-nav"><span class='nav-text'>New Post </span> </div>
                <% end %>


           <% else %>


              <%= link_to  new_user_path do %>
              <div class="btn-nav"> <span class='nav-text'>Sign Up</span> </div>
                <% end %>


              <%= link_to new_session_path do %>
              <div class="btn-nav"> <span class='nav-text'>Sign in</span></div>
                <% end %>




            <% end %>
          </div>

        </div>
        <!-- <div class="white square pull-right"></div> -->
    </div>
  </navbar>

    <div class="main">
      <%= notice || alert %>
      <%= yield %>
    </div>

  </body>


</html>
